<div class="center jumbotron">
<h1>Hey Pitt Fit Pal!</h1>
<p>Good for you for being proactive about your health! You're one step away from finding the perfect Pitt Fit Pal to exercise with! Just email <b>pittfitpal@gmail.com</b>
	and make sure that your subject is <b><%= @nickname %></b>. We'll get you in touch with your Pitt Fit Pal as soon as possible! Go and get em' panther!</p>
</br>
<p>From, The Pitt Fit Team </p>
</div>